$bg-dark: url("https://www.tutorbrasil.com.br/images/joomla_logo_black.jpg");
$bg-light: url("https://www.tutorbrasil.com.br/images/logo-tutor.png");
$bg: dark-light-choose($bg-light, $bg-dark);

:root {
  --custom-bg: #{$bg};
}